<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyToDoList</title>
    <link rel="stylesheet" href="lib/normalize.css">
    <link rel="stylesheet" href="lib/index.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="css/main.css">

</head>

<body>

    <div id="main">
        <div class="navbar">
            <h1>MyToDoList</h1>
        </div>
        <div class="header">
            你的简易任务清单
        </div>
        <form @submit.prevent="marge" id="tesk-form">
            <div class="wrap">
                <!-- <input v-model="current.title" id="task-input" type="text" autocomplete="off"> -->
                <!-- input输入框 -->
                <el-input v-model="current.title" id="task-input" placeholder="请输入..."></el-input>
                <div v-if="current.id" class="detail">
                    <!-- <textarea v-model="current.desc"></textarea> -->
                    <!-- textarea输入框 -->
                    <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入详情" v-model="current.desc"></el-input>
                    <!-- <input v-model="current.alert_at" type="datetime-local"> -->
                    <!-- 时间选择 -->
                    <el-date-picker v-model="current.alert_at" type="datetime" placeholder="选择日期时间" align="center" :picker-options="pickerOptions">
                    </el-date-picker>
                    <!-- <button class="primary" type="submit">提交</button> -->
                    <!-- 提交按钮 -->
                    <el-button type="primary" icon="el-icon-edit" plain circle native-type="submit"></el-button>
                </div>
            </div>
        </form>
        <div class="task-list">
            <div class="wrap">
                <h2>
                    正在进行
                </h2>
                <task :todo="todo" v-if="!todo.completed" v-for="(todo, index) in list"></task>

            </div>
        </div>
        <div class="task-list">
            <div class="wrap">
                <h2>
                    已经完成
                </h2>
                <div v-if="todo.completed" v-for="(todo, index) in list" class="item completed">
                    <!-- <div @click="toggle_complete(todo.id)" class="toggle-complete"></div> -->
                    <!-- <el-button @click="toggle_complete(todo.id)" icon="el-icon-check" circle></el-button> -->
                    <el-checkbox v-model="todo.completed"></el-checkbox>

                    <span class="title">
                        {{todo.title}}
                    </span>
                    <el-button icon="el-icon-delete" @click="remove(todo.id)"></el-button>

                </div>
            </div>
        </div>
    </div>
    <template id="task-tpl">
        <div class="item">
            <!-- <div @click="action('toggle_complete', todo.id)" class="toggle-complete"></div>  -->
            <!-- <el-button size="large" @click="action('toggle_complete', todo.id)" icon="el-icon-check" circle></el-button> -->
            <el-checkbox v-model="todo.completed" ></el-checkbox>
           
            <span class="title">
                {{todo.title}}
            </span>
                <el-button icon="el-icon-delete" @click="action('remove', todo.id)"></el-button>
                <el-button icon="el-icon-edit" @click="action('set_current', todo)"></el-button>
                <el-button icon="el-icon-more-outline" @click="action('toggle_detail', todo.id)"></button>
        <div v-if="todo.show_detail" class='detail'>
            {{todo.desc || '暂无详情'}}
        </div>
    </div>
    </template>
    <script src="lib/vue.js"></script>
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="lib/index.js"></script>
    <script src="js/myStorage.js"></script>
    <script src="js/main.js"></script>
</body>

</html>