* {
    background: rgba(0, 0, 0, .05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

input,
button,
textarea {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 5px 10px;
}

input {
    display: block;
    width: 100%;
}

.wrap {
    max-width: 500px;
    margin: 0 auto;
}

.navbar,
.header {
    text-align: center;
}

.navbar {
    background: rgba(47, 47, 47, 0.98);
    color: #DDD;
    padding: 10px 0;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
}

.header {
    padding: 15px 0;
    color: #555;
    font-size: : 18px;
}